Source: thunderbolt-software-daemon
Section: admin
Priority: optional
Maintainer: Intel Thunderbolt Linux Team <thunderbolt-linux@intel.com>
Build-Depends: debhelper (>=9),
	       libnl-3-dev,
	       libnl-genl-3-dev,
	       cmake,
               dh-autoreconf,
	       libdbus-c++-dev
Standards-Version: 3.9.8
Vcs-Git: https://github.com/01org/thunderbolt-software-user-space.git
Vcs-Browser: https://github.com/01org/thunderbolt-software-user-space

Package: thunderbolt-software-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel Thunderbolt software daemon
 Provides thunderbolt networking and NVM flashing support.

Package: libtbtfwu1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel Thunderbolt software firmware library
 Provides the interfaces for firmware flashing applications
 to interact with an Intel Thunderbolt controller.

Package: libtbtfwu-dev
Architecture: any
Depends: libtbtfwu1 (= ${binary:Version}), ${misc:Depends}
Section: libdevel
Description: Intel Thunderbolt software development files
 Development files for the Intel Thunderbolt firmware update
 library.
 .
 This allows for external packages to link with the Intel
 Thunderbolt firmware update library.

#
# upstream doesn't want this in wider distribution yet.
#
#Package: tbtfwucli
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: Intel Thunderbolt software command line tool
# Command line tool for Intel thunderbolt firmware library.


