Source: thunderbolt-software-daemon
Section: admin
Priority: optional
Maintainer: Intel Thunderbolt Linux Team <thunderbolt-linux@intel.com>
Build-Depends: debhelper (>=9),
	       libnl-3-dev,
	       libnl-genl-3-dev,
	       cmake,
	       libdbus-c++-dev
Standards-Version: 3.9.8
Vcs-Git: https://github.com/01org/thunderbolt-software-user-space.git
Vcs-Browser: https://github.com/01org/thunderbolt-software-user-space

Package: thunderbolt-software-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel Thunderbolt software user space
 Provides thunderbolt neteworking support

Package: libtbtfwu1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for Intel Thunderbolt software fw update
 Library for tbt fw update

Package: libtbtfwu-dev
Architecture: any
Depends: libtbtfwu1 (= ${binary:Version}), ${misc:Depends}
Section: libdevel
Description: development files for Intel Thunderbolt software fw update library
 Development fiels for tbt fw update library

Package: tbtfwucli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel Thunderbolt software command line tool
 command line tool

