#!/usr/bin/make -f

export LIBRARY=libtbtfwu1
export DEVPACK=libtbtfwu-dev
%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -pthunderbolt-software-daemon -Bbuild_service -Scmake -DThunderboltService/Linux --
	dh_auto_configure -plibtbtfwu1 -Bbuild_library -Scmake -Dfwupdate/libtbtfwu/ --

override_dh_auto_build:
	dh_auto_build -pthunderbolt-software-daemon -Bbuild_service
	dh_auto_build -plibtbtfwu1 -Bbuild_library
	PATH=`pwd`/build_library:$$PATH dh_auto_configure -ptbtfwucli -Bbuild_commandline -Scmake -Dfwupdate/tbtfwucli/ --
	dh_auto_build -ptbtfwucli -Bbuild_commandline

override_dh_auto_install:
	#disables running postinstall steps
	sed -i -n '/post_install/!p' build_service/cmake_install.cmake
	dh_auto_install --destdir debian/thunderbolt-software-daemon -Bbuild_service
	dh_auto_install --destdir debian/$(LIBRARY) -Bbuild_library
	dh_auto_install --destdir debian/tbtfwucli -Bbuild_commandline
	#strip from the library to build the development package
	mkdir -p debian/$(DEVPACK)
	cp -R debian/$(LIBRARY)/* debian/$(DEVPACK)
	rm -rf debian/$(LIBRARY)/usr/include \
		debian/$(LIBRARY)/usr/lib/*/pkgconfig \
		debian/$(LIBRARY)/usr/lib/*/*.a \
		debian/$(LIBRARY)/usr/lib/*/*.so
	rm -rf debian/$(DEVPACK)/usr/lib/*/*.so.*

override_dh_auto_clean:
	rm -rf build*
